//重写element plus 全局主题颜色
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #5866f9,
    ),
  )
);

@use 'element-plus/theme-chalk/src/index.scss' as *;
